@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
    /* background: #272727; */
    /* color: white; */
    /* height: 100vh; */
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

img {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 100vh;
    border-radius: 5px;
}

.content {
    width: 60%;
    position: absolute;
    right: 0;
}

h1 {
    padding-left: 30px;
}

.form-div {
    /* align-items: center;
    display: flex; */
    /* text-align: center; */
    background-color: rgb(157, 157, 157);
    border-radius: 5px;
    /* margin-right: 30px; */
    /* flex-direction: column; */
    padding: 5px 30px;
}

#workout {
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 5px 20px;
}

.form-first-row {
/*     display: flex;
    justify-content: right; */
    background-color: rgb(157, 157, 157);
    /* text-align: right; */
}

.form-first-row > select {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    width: 225px;
}

.form-first-row > input {
    width: 50px;
    margin-right: 50px;
    height: 28px;
    border-radius: 5px;
}

.second-row > select {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    width: 225px;
}

.second-row > input {
    width: 50px;
    margin-right: 50px;
    height: 28px;
    border-radius: 5px;
}

.third-row > select {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    width: 225px;
}

.third-row > input {
    width: 50px;
    margin-right: 50px;
    height: 28px;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    margin-bottom: 30px;
}

button {
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;  
    padding: 10px 40px;
    cursor: pointer;
    margin-bottom: 30px;
}

#btnOne:hover {
    background-color: #76AEED;
}

#btnOne:active {
    background-color: #407FC7;
}

#btnOne {
    color: #FFFFFF;
    background-color: #5995DA;
}

#btnTwo {
    color: #FFFFFF;
    background-color: rgb(226, 98, 98);
}

#btnTwo:hover {
    background-color: rgb(240, 131, 131);
}

#btnTwo:active {
    background-color: rgb(240, 131, 131);
}