@font-face {
    font-family: 'MontSerrat';
    src: url(/fonts/Montserrat-VariableFont_wght.ttf)
}
@media only screen and (max-width: 1134px) {
    .form-first-row {
        padding-right: 200px;
    }

    .second-row {
        padding-right: 200px;
    }
}

* {
    /* background: #272727;
    color: white; */
    font-family: MontSerrat, Arial, Helvetica, sans-serif;
}

img {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 100vh;
    border-radius: 5px;
}

.content {
    width: 60%;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, rgb(177, 173, 173), #303538);
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10px;
    box-shadow: 30px 10px 5px black;
}

h1,
h4 {
    padding-left: 30px;
}

.form-div {
    border-radius: 5px;
    padding: 5px 30px;
}

#workout {
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 5px 20px;
}

.form-first-row > select,
.second-row > select,
.third-row > select {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    width: 225px;
}

.form-first-row > input,
.second-row > input,
.third-row > input {
    width: 50px;
    height: 28px;
    border-radius: 5px;
}

#inputOne,
#inputTwo {
    margin-right: 50px;
}

textarea {
    border-radius: 5px;
    margin-bottom: 30px;
}

button {
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;  
    padding: 10px 40px;
    cursor: pointer;
    margin-bottom: 30px;
}

#btnOne:hover {
    background-color: #76AEED;
}

#btnOne:active {
    background-color: #407FC7;
}

#btnOne {
    color: #FFFFFF;
    background-color: #5995DA;
}

#btnTwo {
    color: #FFFFFF;
    background-color: rgb(226, 98, 98);
}

#btnTwo:hover {
    background-color: rgb(240, 131, 131);
}

#btnTwo:active {
    background-color: rgb(240, 131, 131);
}

#applyBtn {
    background-color: #7b7d7d;
}

.footer {
    position: fixed;
    top: 40%;
    width: 40%;
    left: 0;
    background-color: black;
    color: white;
    opacity: 0.8;
    text-align: center;
}

.footer p {
    font-size: 13px;
}